
<!-- HTML starts -->
<div class="chartWrapper">
    <div class="container container-fluid chartAreaWrapper" style="position: relative; height:350px; width: 90vw; margin-left:2px;">
        <canvas id="myChart1" height="300" width="350"></canvas>
    </div>
    <div class="container container-fluid chartAreaWrapper" style="position: relative; height:350px; width: 90vw; margin-left:2px;">
        <canvas id="myChart2" height="300" width="350"></canvas>
    </div>
    <div class="container container-fluid chartAreaWrapper" style="position: relative; height:710px; width: 90vw; margin-left:2px;">
        <canvas id="myChart3" height="680" width="350"></canvas>
        <p style="font-size: 0.65em;">* Please refer to the update date and time on the <a href="/">homepage</a></p>
    </div>
    <p><i><small>Note: The above Graphs/Charts are for the representation purpose only.</small></i></p>
</div>

<!-- HTML ends -->


<!-- Javascript Starts -->
<script>
        var yAxisValues1 = ['25 Mar', '26 Mar', '27 Mar', '28 Mar', '29 Mar', '30 Mar'];
        var legendTitle1 = "Number Of Active Cases";
        var xAxisValues1 = [553, 633, 640, 810, 901, 1071];
        var chartTitle1 = "DATE-WISE ACTIVE CASES COMPARISON";
        var colorsGenerated1 = ['#e87a74', '#e87a74', '#e87a74', '#e87a74', '#e87a74', '#e87a74'];

        //Assigning the values for chart
        var data1 = {
                labels: yAxisValues1,
                datasets: [{
                    label: legendTitle1,
                    data: xAxisValues1,
                    backgroundColor: colorsGenerated1
                }]
            };


        var ctx = document.getElementById('myChart1').getContext('2d');

        var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: data1,

            options: {
                title: {
                    display: true,
                    text: chartTitle1
                },
                maintainAspectRatio: false,
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontSize: 10,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
        