<table border="1" cellpadding="1" cellspacing="1" class="table table-striped table-dark" style="font-weight:bold">
<thead class="thead-dark">
<tr bgcolor="#f8f8f8">
<th align="left" width="47"><strong>S. No.</strong></th>
<th align="left" width="83"><strong>Name of State / UT</strong></th>
<th align="left" width="91"><strong>Total Confirmed cases (Indian National)</strong></th>
<th align="left" width="90"><strong>Total Confirmed cases ( Foreign National )</strong></th>
<th align="left" width="83"><strong>Cured/<br/>Discharged/Migrated</strong></th>
<th align="left" width="83"><strong>Death</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td align="'centre" width="47">1</td>
<td align="'centre" valign="bottom" width="83">Andhra Pradesh</td>
<td align="'centre" valign="bottom" width="91">9</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">1</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">2</td>
<td align="'centre" valign="bottom" width="83">Bihar</td>
<td align="'centre" valign="bottom" width="91">4</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">3</td>
<td align="'centre" valign="bottom" width="83">Chhattisgarh</td>
<td align="'centre" valign="bottom" width="91">1</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">4</td>
<td align="'centre" valign="bottom" width="83">Delhi</td>
<td align="'centre" valign="bottom" width="91">30</td>
<td align="'centre" valign="top" width="90">1</td>
<td align="'centre" valign="top" width="83">6</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">5</td>
<td align="'centre" valign="bottom" width="83">Gujarat</td>
<td align="'centre" valign="bottom" width="91">37</td>
<td align="'centre" valign="top" width="90">1</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">6</td>
<td align="'centre" valign="bottom" width="83">Haryana</td>
<td align="'centre" valign="bottom" width="91">14</td>
<td align="'centre" valign="top" width="90">14</td>
<td align="'centre" valign="bottom" width="83">11</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">7</td>
<td align="'centre" valign="bottom" width="83">Himachal Pradesh</td>
<td align="'centre" valign="bottom" width="91">3</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="bottom" width="83">0</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">8</td>
<td align="'centre" valign="bottom" width="83">Karnataka</td>
<td align="'centre" valign="bottom" width="91">41</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">3</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">9</td>
<td align="'centre" valign="bottom" width="83">Kerala</td>
<td align="'centre" valign="bottom" width="91">101</td>
<td align="'centre" valign="top" width="90">8</td>
<td align="'centre" valign="top" width="83">4</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">10</td>
<td align="'centre" valign="bottom" width="83">Madhya Pradesh</td>
<td align="'centre" valign="bottom" width="91">14</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">11</td>
<td align="'centre" valign="bottom" width="83">Maharashtra</td>
<td align="'centre" valign="bottom" width="91">125</td>
<td align="'centre" valign="top" width="90">3</td>
<td align="'centre" valign="top" width="83">1</td>
<td align="'centre" valign="top" width="83">3</td>
</tr>
<tr>
<td align="'centre" width="47">12</td>
<td align="'centre" valign="bottom" width="83">Manipur</td>
<td align="'centre" valign="bottom" width="91">1</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">13</td>
<td align="'centre" valign="bottom" width="83">Mizoram</td>
<td align="'centre" valign="bottom" width="91">1</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">14</td>
<td align="'centre" valign="bottom" width="83">Odisha</td>
<td align="'centre" valign="bottom" width="91">2</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">15</td>
<td align="'centre" valign="bottom" width="83">Puducherry</td>
<td align="'centre" valign="bottom" width="91">1</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">16</td>
<td align="'centre" valign="bottom" width="83">Punjab</td>
<td align="'centre" valign="bottom" width="91">29</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" width="47">17</td>
<td align="'centre" valign="bottom" width="83">Rajasthan</td>
<td align="'centre" valign="bottom" width="91">34</td>
<td align="'centre" valign="top" width="90">2</td>
<td align="'centre" valign="top" width="83">3</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">18</td>
<td align="'centre" valign="bottom" width="83">Tamil Nadu</td>
<td align="'centre" valign="bottom" width="91">16</td>
<td align="'centre" valign="top" width="90">2</td>
<td align="'centre" valign="top" width="83">1</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">19</td>
<td align="'centre" valign="bottom" width="83">Telengana</td>
<td align="'centre" valign="bottom" width="91">25</td>
<td align="'centre" valign="top" width="90">10</td>
<td align="'centre" valign="top" width="83">1</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">20</td>
<td align="'centre" valign="bottom" width="83">Chandigarh</td>
<td align="'centre" valign="bottom" width="91">7</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="90">0</td>
</tr>
<tr>
<td align="'centre" width="47">21</td>
<td align="'centre" valign="bottom" width="83">Jammu and Kashmir</td>
<td align="'centre" valign="bottom" width="91">7</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">1</td>
<td align="'centre" valign="top" width="90">0</td>
</tr>
<tr>
<td align="'centre" width="47">22</td>
<td align="'centre" valign="bottom" width="83">Ladakh</td>
<td align="'centre" valign="bottom" width="91">13</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">23</td>
<td align="'centre" valign="bottom" width="83">Uttar Pradesh</td>
<td align="'centre" valign="bottom" width="91">36</td>
<td align="'centre" valign="top" width="90">1</td>
<td align="'centre" valign="top" width="83">11</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">24</td>
<td align="'centre" valign="bottom" width="83">Uttarakhand</td>
<td align="'centre" valign="bottom" width="91">3</td>
<td align="'centre" valign="top" width="90">1</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">0</td>
</tr>
<tr>
<td align="'centre" width="47">25</td>
<td align="'centre" valign="bottom" width="83">West Bengal</td>
<td align="'centre" valign="bottom" width="91">9</td>
<td align="'centre" valign="top" width="90">0</td>
<td align="'centre" valign="top" width="83">0</td>
<td align="'centre" valign="top" width="83">1</td>
</tr>
<tr>
<td align="'centre" colspan="2" height="61" valign="bottom"><strong>Total number of confirmed cases in India</strong></td>
<td align="'centre" valign="bottom" width="91"><strong>563</strong></td>
<td align="'centre" valign="top" width="90">
<strong>43 </strong>
</td>
<td align="'centre" valign="top" width="83">
<strong>43</strong>
</td>
<td align="'centre" valign="top" width="83">
<strong>10</strong>
</td>
</tr>
</tbody>
</table>
